* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

header h3 {
  padding: 1rem;
  pointer-events: none;
  line-height: 2rem;
  text-align: center;
  color: #302e2e;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: 2px solid #321d42;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: #321d42;
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
  padding-top: 0.5rem 0rem;
  padding-bottom: 1rem;
}

.gallery-info p {
  pointer-events: none;
}

.gallery-info .download {
  white-space: nowrap;
}

a {
  color: #363636;
  border: 1px solid black;
  padding: 0.4rem;
  text-decoration: none;
}

a:hover {
  background: #f5f3f3;
}

#logo {
  text-decoration: none;
  color: #302e2e;
  border: none;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 5rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  padding: 2rem 0rem;
  width: 85%;
  margin: auto;
}

.gallery-img .image-container {
  overflow: hidden;
  cursor: pointer;
}

.gallery-img .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.gallery-img .image-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.more-button {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: #4a4483;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#image-clicked {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

#image-clicked.open {
  opacity: 1;
  pointer-events: all;
}

.full-image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80vw;
  max-height: 70vh;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.full-image.open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.fa-times {
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .gallery {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  #image-clicked {
    background: rgba(0, 0, 0, 0.95);
  }
  .fas {
    pointer-events: none !important;
    color: white;
    position: fixed;
    left: 8%;
    top: 3%;
    opacity: 0;
  }
  .fas.open {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */